@model List<ResultOfferDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
    string status = "";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Alt Başlık</th>
                                <th>Durum</th>
                                <th>Sıra</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Pasif Yap</th>
                                <th>Aktif Yap</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                                count++;
                                status = item.Status == true ? "Aktif" : "Pasif";
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Title</td>
                                    <td>@item.SubTitle</td>
                                    <td>@status</td>
                                    <td>@item.Order</td>
                                    <td><a href="/Admin/OfferDiscount/DeleteOfferDiscount/@item.OfferDiscountId" class="btn btn-danger btn-rounded" onclick="return confirm('@item.Title bunu silmek istediğinize emin misiniz?')">Sil</a></td>
                                    <td><a href="/Admin/OfferDiscount/UpdateOfferDiscount/@item.OfferDiscountId" class="btn btn-warning btn-rounded">Güncelle</a></td>
                                    <td><a href="/Admin/OfferDiscount/OfferDiscountChangeStatusToFalse/@item.OfferDiscountId" class="btn btn-warning btn-rounded">Pasif</a></td>
                                    <td><a href="/Admin/OfferDiscount/OfferDiscountChangeStatusToTrue/@item.OfferDiscountId" class="btn btn-success btn-rounded">Aktif</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/Admin/OfferDiscount/CreateOfferDiscount/" class="btn btn-primary">Yeni İndirim Teklif Girişi</a>
                </div>
            </div>
        </div>
    </div>
</section>

