@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
    string status = "";
}

<body>
    <style>
        td, th {
            align-content: center;
        }
        img{
          width:fit-content;
          height:50px;
        }
    </style>
</body>

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Marka Adı</th>
                                <th>Marka Görsel</th>
                                <th>Durum</th>
                                <th>Sıra</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Pasif Yap</th>
                                <th>Aktif Yap</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                                count++;
                                status = item.Status == true ? "Aktif" : "Pasif";
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Name</td>
                                    <td><img src="@item.ImageUrl" /></td>
                                    <td>@status</td>
                                    <td>@item.Order</td>
                                    <td><a href="/Admin/Brand/DeleteBrand/@item.BrandId" class="btn btn-danger btn-rounded" onclick="return confirm('@item.Name bunu silmek istediğinize emin misiniz?')">Sil</a></td>
                                    <td><a href="/Admin/Brand/UpdateBrand/@item.BrandId" class="btn btn-warning btn-rounded">Güncelle</a></td>
                                    <td><a href="/Admin/Brand/BrandChangeStatusToFalse/@item.BrandId" class="btn btn-warning btn-rounded">Pasif</a></td>
                                    <td><a href="/Admin/Brand/BrandChangeStatusToTrue/@item.BrandId" class="btn btn-success btn-rounded">Aktif</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/Admin/Brand/CreateBrand/" class="btn btn-primary">Yeni Marka Girişi</a>
                </div>
            </div>
        </div>
    </div>
</section>

